.workout-bg1{
    background-image: url(../../hipcravo-5UbIqV58CW8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px;
}
.workout-bg2{
    background-image: url(../../daniel-apodaca-WdoQio6HPVA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}
.workout-bg3{
    background-image: url(../../penguinuhh-8VI6WwEEEHw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
}