.bg-main{
    background-image: url(../../edgar-chaparro-sHfo3WOgGTU-unsplash.jpg);
    background-position: center;
    background-size: 1500px;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position-y: 0px;
}